<?php 
	
	include("includes/header.php");
	include("includes/menu.php");

?>


        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>AIIMS-ISSH Wrist Cadaveric Course 2015 Report</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="aiims-issh-wrist-cadaveric-course-2015-report.php">AIIMS-ISSH Wrist Cadaveric Course 2015 Report</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->

        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>AIIMS-ISSH Wrist Cadaveric Course 2015 Report</h2>
                            </div>
                            <p>Recently, we organized the AIIMS-ISSH Wrist Cadaveric Course 2015 under the aegis of Delhi Orthopedic Association on 25th and 26th July 2015 at Ramalingaswami Board Room, AIIMS, New Delhi. It was first one of its kind course in India on wrist, the most upcoming sub specialty in Hand surgery. The course was well attended and well appreciated by all delegates and faculty.</p>

                            <h3>AIIMS</h3>
                            <p>The course spanned over two days. Prof. Balram Airen, Dean, AIIMS graciously inaugurated this workshop and highlighted the importance of cadaveric training. We had a galaxy of hand surgeons as faculty from all over India namely Prof. P. P. Kotwal, Prof. Anil Dhal, Prof. Anil Bhat, Dr. N. K. Magu, Dr. Pankaj Jindal, Prof. Ravi Gupta, Dr. Anirban Chatterjee, Dr. Vikas Gupta, Dr. Deepthi Reddy, Dr. Shailesh Gupta, Dr. Sudhir warrior, Dr. Bhavuk Garg, Dr. Tahir Ansari and Dr. Vijay Digge.</p>

                            <h3>AIIMS 1</h3>
                            <p>Various learned faculty members from Delhi including Dr. Gurinder Bedi, Dr. Vivek Jangira, Dr. Vineet Dabas, Dr. Abhishek Sharma presented interesting cases with a lot of interactive academic exchange of thoughts with delegates and learned faculty. Distinguished senior faculty members like Prof. S. Bhan, Prof. M Farooque, Prof S Rastogi, Prof. Ajay Gupta, Dr. Ajit Sehgal, Prof. Ravi Mittal, Dr.Dhanajay Gupta, Prof. H. L. Nag, Dr. Anmol Maria, Prof. Ramesh Kumar chaired various sessions and enlightened both the faculty as well as delegates with their vast and enriched experience.</p>
                            <p>Almost all the topics related to wrist including distal radius, carpal injuries, various ligament injuries and carpal instabilities, wrist arthroscopy, carpal tunnel syndrome, various pain syndromes, congenital deformities etc. were dealt in details. Various surgical procedures and their minute details including their technological advances were also discussed. Re-live session in the form of edited videos of various important surgical procedures was also a much-appreciated part of this workshop.</p>
                            <p>Cadaveric workshop saw a great enthusiasm among delegates as well as among faculty. Delegates had a hands on experience of various surgical approaches around wrist as well as performed some surgical procedures also namely carpal tunnel release and dequairvain’ release. We would like to thank Dr. Sanjeev Lalvani and Dr. Sumit Sinha for their extensive support for this cadaveric workshop. A saw bone workshop was also organized and delegates practiced the application of newer variable angle distal radius plates and carpal fusion plates on saw bones.</p>

                            <h3>AIIMS2</h3>
                            <p>Overall, this workshop was a grand success thanks to organizers, faculty,delegates and sponsors. Various delegates through feedback forms also validated this success. We hope and wish to organize more such courses in near future too.</p>

                            <p>Once again thanks to ISSH and DOA for their patronage………….
                            </p>
                            <p><strong>Organizing Secretary</strong></p>
                            <p>BHAVUK GARG</p>

                        
                            

                        </div>
                    </div>

                   
                </div>
            </div>
        </section>

<?php include("includes/footer.php"); ?>