{% extends 'base.html' %}

{% load static %}

{% block content %}



        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>COVID_19</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.html">Home</a>
                    <a href="covid_19.html">COVID_19</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->

                <!--================Our About Area =================-->
        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>COVID_19 </h2>
                            </div>
                            
                            <p>Dear Friends,<br>
                                Greetings!<br>
                            Wanted to share a few thoughts based on my recent experience with Covid.</p>
                            <p>Had tested positive on 24th of April,& probably contacted from my wife (though she tested -ve on 2 occasions,but had all the symptoms), Who is HOD Neonatology at RML.</p>
                            <p>I shifted to YMCA (a Covid care centre) on 27th and stayed there till 13th May(  discharged after testing negative.) Let’s be realistic,most of us are going to contact the bug sooner or later. So my two bits worth,in case u get it</p>			
							<ul>
								<li>stay positive (I mean mentally)& happy.Learn to live with it.</li>
								<li>stay informed.</li>
								<li>if you test positive,be prepared for society to ostracize you(strange but true)</li>
								<li>home isolation is best (unless symptoms are severe or there are elderly family members at home)</li>
								<li>most of us will sail through smoothly </li>
								<li>but as ortho surgeons we anyway go in with a backup plan B & C(if we plan a PFN,we keep a DHS and proximal femoral plate handy)</li>
								<li>if u go into isolation stay constantly connected to friends and family ( in my 18 days in a CCC I would get 50-100 calls a day to pep me up</li>
								<li>work on your fitness especially lung function.<li>
								<li>if you have co-morbidiy,control it</li>
								<li>be in touch with a sensible physician</li>
								<li>NO Smoking</li>
								<li>use your time constructively (u May never get such a chance to be with yourself again)</li>
								
							</ul>
							
                            <p>Hoping you all stay safe and are able to avoid the bug</p>
                            <p>(Of course if the need arises feel free to call me any time)
</p>
							<p></p>

                            <p><strong>Take care <br>Dr Anmol Maria</strong></p>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
{% endblock %}