{% extends 'base.html' %}

{% load static %}

{% block content %}


        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>DOA Journal</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="doa-journal.php">DOA Journal</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->
        <style type="text/css">
            .partner_details .media-body{
                padding: 20px;
                background:
                #e3e6ec;
                margin: 5px 0px;
            }
        </style>

        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>Journal of Clinical Orthopaedic & Trauma RSS feed.</h2>
                                <span><a href="http://www.journal-cot.com/issues?publicationCode=jcot&rss=yes" target="_blank">Journal of Clinical Orthopaedics & Trauma</a></span>
                                
                            </div>                         
                            
                            <div class="partner_details">                                        
                                <div class="partner_details_inner">
                                    <div class="">                                        
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930152-7/fulltext?rss=yes" target="_blank">Retrospective study of asymmetric vs symmetric tibial plates and ultracongruent vs posterior stabilized inserts in Indian population: An Indian experience of Natural Knee II</a></h4>
                                            <p>Results of asymmetric tibial base plates vs symmetric tibial base plates and ultracongruent insert vs posterior stabilized insert in Indian population. […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Ajay Deep Singh on July 27, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930143-6/fulltext?rss=yes" target="_blank">Prevalence of deep vein thrombosis in patients with lower limb trauma</a></h4>
                                            <p>Venous thrombo-embolism (VTE), which consists of deep vein thrombosis (DVT) and pulmonary embolism, is a potentially fatal condition. According to Western literature, DVT of lower limb veins is one of the most common complications following surgeries for lower limb. Few studies have been published from India on the subject and little is known about the true prevalence of the DVT and hence there are no clear guidelines regarding the prophylaxis for DVT for Indian patients. […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Chirag S. Kapoor, Ashit K. Mehta, Krunal Patel, Paresh P. Golwala on July 24, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930027-3/fulltext?rss=yes" target="_blank">Short- to mid-term results of ulna head replacement as both a primary and revision implant</a></h4>
                                            <p>We present the results of short- to medium-term follow-up of 10 patients following ulna head replacement. The mean age of patients was 63.2 years (range 48–81 years), with the mean duration of follow-up being 48 months (12–88 months). The indications for the procedure were primary osteoarthritis (n=3), post-traumatic osteoarthritis (n=4), failed Darrach's procedure (n=2) and rheumatoid arthritis (n=1). Two patients required revision (20%), one for gross aseptic loosening of the stem and […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Tobias K.A. Baring, Ravi Popat, Ali Abdelwahab, Barry Ferris on July 23, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930146-1/fulltext?rss=yes" target="_blank">Myxoid liposarcoma of the hand – A rare entity</a></h4>
                                            <p>Hand liposarcomas are not well recognized in common practice, which leads to erroneous diagnostics and delayed proper treatment.We reported a case of a myxoid liposarcoma classified as stage IIb, and developed in the palmar side of the left hand in a 38-year-old man. There was an initial tumor reduction by a sclerosing agent injection that proved to be a failure. An open excisional biopsy confirmed the diagnostic after pathology examination. Recurrence occurred after 2 years, followed by a […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Mourad Zaraa, Khalil Haboubi, Emir Bessalah, Mohamed Ali Kedous, Mondher Mbarek on July 22, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930152-7/fulltext?rss=yes" target="_blank">Hip adductor pyomyositis from Streptococcus mitis in a four-year-old child</a></h4>
                                            <p>The unique aspect of this case study is the unusual history, presentation, ultrasonography, MRI and blood culture results, which lead to the diagnosis and treatment of adductor pyomyositis with a rare organism in a temperate country. The patient presented with a one-day history of malaise, fever, left groin pain and inability to weight bear on the left leg. There was no history of any trauma, predisposing infections or recent travel. Plain radiograph and ultrasound of the hip was normal with no […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Metin Tolga Buldu, Raghu Raman on July 20, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930143-6/fulltext?rss=yes" target="_blank">Impact of negative pressure wound therapy on open diaphyseal tibial fractures: A prospective randomized trial</a></h4>
                                            <p>Open tibial fractures are associated with a high incidence of mainly osteomyelitis. Negative pressure wound therapy (NPWT) is a novel form of treatment that uses subatmospheric pressure to effect early wound healing. […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Siddharth R. Virani, Aditya A. Dahapute, S.S. Bava, Saurabh R. Muni on July 15, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930027-3/fulltext?rss=yes" target="_blank">Isolated intramuscular cysticercosis: Clinicopathological features, diagnosis and management – A review</a></h4>
                                            <p>Cysticercosis is an emerging parasitic disease affecting worldwide population. There is large volume of data present in the literature for neurocysticercosis. The isolated intramuscular involvement of cysticercosis is uncommon and there are only sporadic case reports available. There is no review available in the literature which gives in detail clinicoradiological features and management of isolated intramuscular cysticercosis. Knowledge about such a presentation is important especially in […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Durgashankar Meena, Mayank Gupta, Vijay Kumar Jain, Rajendra Kumar Arya on June 30, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930146-1/fulltext?rss=yes" target="_blank">Vitamin D levels among pediatric tuberculosis patients – Does it alter following antitubercular treatment? A prospective study in 19 children</a></h4>
                                            <p>It is still unknown whether altered vitamin D levels observed with osteoarticular tuberculosis change during treatment in a child or modify the disease course. To find a possible answer to the above query, we investigated serial serum 25 hydroxy vitamin D concentrations in children suffering from osteoarticular tuberculosis treated with multidrug antitubercular drugs. […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Anil Agarwal, Pradeep Kumar Dabla, Madhusudan Mishra, Anubrat Kumar, Abbas Shaharyar on June 29, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://www.journal-cot.com/article/S0976-5662%2816%2930027-3/fulltext?rss=yes" target="_blank">Progression of bisphosphonate-associated impending atypical femoral fracture despite prophylactic cephalomedullary nailing: A case report and review of literature</a></h4>
                                            <p>While bisphosphonates have been shown to be effective in reducing the incidence of typical osteoporotic fractures, long-term bisphosphonate may be associated with atypical femoral fractures. We report a case of a bisphosphonate-related impending atypical femoral fracture which progressed despite prophylactic cephalomedullary nailing. The fracture healed without further surgical intervention after correcting the patient's bone metabolic profile and stopping the possible offending factors. […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Aditya V. Maheshwari, Samantha J. Yarmis, Justin Tsai, Julio J. Jauregui on June 28, 2016 at 12:00 am</span>
                                        </div>
                                        <p></p>
                                        <div class="media-body">
                                            <h4><a href="http://.journal-cot.com/article/S0976-5662%2816%2930146-1/fulltext?rss=yes" target="_blank">Osteoarthritis is a chronic disorder of synovial joints in which there is progressive softening and disintegration of articular cartilage accompanied by the growth of osteophytes.</a></h4><p>Treatment designed for osteoarthritis should aim at reducing pain, improve joint mobility, and limit functional impairment. It can be achieved by pharmacological and non-pharmacological means. Non-operative treatment of OA is useful for patients with KL grade 1–3, which are early stages of OA. However, in an […]</p>
                                            <span style="float: right; font-size: 10px;">Posted by Raju Vaishya, Godfrey B. Pariyo, Amit Kumar Agarwal, Vipul Vijay on June 28, 2016 at 12:00 am</span>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>

                        </div>
                    </div>

                   
                </div>
            </div>
        </section>

        
{% endblock %}