{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>DOA Events</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="doa-events.php">DOA Events</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->
        
            <style type="text/css">
            .section_title h2{
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .doa-newsn{
                padding-top: 10px;
            }
            .doa-newsn li{
                list-style: none;
                border-bottom: solid 1px;
                color:
                #ddd;
                margin-bottom: 10px;
                width: 40%;
                float: left;
                margin-right: 60px;
            }
				.our_about_area a{
				color:#000
				}
        </style>
        <!--================End Banner Area =================-->
        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    
                   
                    <div class="col-md-8" style="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="section_title">
                                    <h2>DOA Event Calender 2020</h2>
                                
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="section_title">
                                    <h2 style="float: right;">Month :  {% now 'M' %}</h2>
                                
                                </div>
                            </div>
                        </div>
                        
                        <form class="contact_us_form" style="margin-bottom: 10px;" action="doa-events.php" method="POST">
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-control" name="month">
                                       
                                        <option value="">Select Month</option>
                                        <option value="Jan">January</option>
                                        <option value="Feb">Febuary</option>
                                        <option value="Mar">March</option>
                                        <option value="Apr">April</option>
                                        <option value="May">May</option>
                                        <option value="Jun">June</option>
                                        <option value="Jul">July</option>
                                        <option value="Aug">August</option>
                                        <option value="Sep">September</option>
                                        <option value="Oct">October</option>
                                        <option value="Nov">November</option>
                                        <option value="Dec">December</option>
                                    </select>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4" style="float: right;">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light col-md-12" name="search">Search</button>
                                </div>
                            </div>
                        </form>
                        {% for post in object_list %}
                            <div class="row" style="background: #93abd9; margin-bottom: 5px; border: 1px solid transparent;border-radius: 5px;">
                                <div class="col-md-2" style="padding: 15px;">
                                    <div style="background: #ffffff; border: 1px solid #fff; border-radius: 5px; text-align: center;padding: 11px;">
                                        <div class="edate" style="font-size: 40px; color: #000;">{{ post.edate }}</div>
                                        <div class="eday"  style="color: #000;">{{post.emonth}}</div>
                                    </div>
                                   <!--  <div class="cal-date" style="color: blue;">
                                        21
                                    </div> -->
                                </div>
                                <div class="col-md-10" style="padding: 15px;">
                                    <p style="font-size: 17px; color: #000;">
										<a href="{% url 'event_details' post.pk %}">{{ post.title }}</a>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                    
                    <div class="col-md-2"></div>
                    


                </div>
            </div>
        </section>

{% endblock %}