{% extends 'base.html' %}

{% load static %}

{% block content %}

    <style type="text/css">
        .our_about_left_content p{
            padding-bottom: 6px;
        }
        td strong{
            color: #194172;
        }
    </style>
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>DOA Fellowship</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="doa-fellowship.php">DOA Fellowship</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->


        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>DOA Fellowship</h2>
                                <p>Delhi Orthopaedic Association grants three travelling fellowships for life members of the DOA, less than 30 yrs, 30 to 40 yrs, above 40 years of age. The selected candidates are given Rs. 10,000 each towards this fellowship. We invite the applications for Delhi Orthopaedic Association Travelling Fellowships every year. The criteria for selection are very objective and as follows:</p>
                            </div>
                           
                            <div class="table-responsive">
                                <table class="table table-bordered mt20">
                                    <tbody>
                                        <tr class="info">
                                            <td>S.no.</td>
                                            <td><strong>Heading</strong></td>
                                            <td><strong>Mark</strong></td>
                                            <td><strong>Maximum Marks</strong></td>
                                        </tr>
                                        <tr>
                                            <td>1.</td>
                                            <td><strong>Postgraduate qualification</strong> Recognized qualification Ms (Ortho.)/ DNB<p></p>
                                                <p>Other degrees MCh / FRCS/ PhD</p>
                                            </td>
                                            <td>3 mark each<strong>&nbsp;</strong>1 mark each</td>
                                            <td><strong>10</strong></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td><strong>Experience</strong><strong>&nbsp;</strong> Year after PG qualifications 1 mark year<p></p>
                                                <p>Teaching experience as lecturer/ assistant prof.</p>
                                            </td>
                                            <td>Max. 7 marks<strong>&nbsp;</strong>Max. 3 marks<p></p>                                        
                                                <p>1 mark per year</p>
                                            </td>
                                            <td><strong>10</strong></td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td><strong>Publications</strong> I. Indexed /IJO/JCOT5 marks per publication as main author<p></p>
                                                <p>3 marks per publication as Co author</p>
                                                
                                                <p>II</p>
                                                <p>III.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Books</strong></p>
                                                <p>10 marks per book as main author</p>
                                                <p>5 marks per book chapter as contributing author</p>
                                                <p>3 marks per book chapter as co -author</p>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td>Max 20 marks<strong>&nbsp;</strong><p></p>
                                                
                                                <p><strong>&nbsp;</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                                <p>Max.10 marks</p>
                                                <p><strong>&nbsp;</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td><strong>30</strong></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td><strong>Papers/ presentations presented personally</strong> International conferences aboardIOACON/DOACON</td>
                                            <td>5 marks per paper/ 3 marks per poster&nbsp;<p></p>
                                                <p>3 marks per paper / 2 mark&nbsp;per poster</p>
                                                
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td><strong>20</strong></td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td><strong>Guest lectures/ Lectures at CME/ Workshops</strong> International conference aboard&nbsp;<p></p>
                                                <p>IOACON&nbsp;/DOACON</p>
                                            </td>
                                            <td>5 marks per lecture3 marks per lecture<p></p>
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td><strong>10</strong></td>
                                        </tr>
                                        <tr>
                                            <td>6.</td>
                                            <td><strong>Research&nbsp;projects completed&nbsp;&nbsp;(Funding agency letter)</strong></td>
                                            <td>5 marks per completed project</td>
                                            <td><strong>10</strong></td>
                                        </tr>
                                        
                                        <tr>
                                            <td>7</td>
                                            <td><strong>Organizational&nbsp;</strong> Convener or organizing secretary of&nbsp; DOACON Annual Meeting/ MIDCON<br>
                                                Office bearer of IOA/ DOA/Speciality&nbsp;Organisations</td>
                                            <td>3 marks / post held 2 marks/ post held</td>
                                            <td><strong>10</strong></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            

                        </div>
                    </div>

                   
                </div>
            </div>
        </section>

        
{% endblock %}