{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>DOA Elections 2019-20</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="doa-elections-2015.php">DOA Elections 2019-20</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->
        <style type="text/css">
            .table td ul li{
                margin-left: 10px;
            }
            .table td{
                padding-left: 10px;
            }
        </style>
                <!--================Our About Area =================-->
        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>DOA Election 2019-20 </h2>
                            </div>
                            <!-- <img class="img-responsive" src="files/doa-election-2020.jpg"> -->
                            <p>Dear Friends</p>
                            <p>The list of successful Candidates and bids after the conclusion of Elections is as follows:</p>
                            <div class="table-responsive">
                                <table class="table table-bordered mt20">
                                    <tbody>
                                        <tr class="info">
                                            <td><strong>Name of Post</strong></td>
                                            <td><strong>Nominations Received</strong></td>
                                        </tr>
                                        <tr>
                                            <td>President Elect (One Post)</td>
                                            <td>Dr. Lalit Maini (M 014)</td>
                                        </tr>
                                        <tr>
                                            <td>Vice President (One Post)</td>
                                            <td>Dr. Harmesh Kapoor (K 015)</td>
                                        </tr>
                                        <tr>
                                            <td>E C Members (Two Posts)<br>North Zone</td>
                                            <td>
                                                <strong>SELECTED</strong><br>
                                                <ul>
                                                    <li>1. Dr. Sameer Mehta (M 048)</li>
                                                    <li>2. Dr. Palash Gupta (G 077)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>E C Members (Two Posts)<br>South Zone</td>
                                            <td>
                                                <ul>
                                                    <li>1.  Dr. Samarth Mittal (M 100)</li>
                                                    <li>2.  Dr. Maninder Shah Singh (S 105)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>E C Members (Two Posts)<br>East Zone</td>
                                            <td>
                                                <ul>
                                                    <li>1.  Dr. Shashank Misra (M 059)</li>
                                                    <li>2.  DrRehanUlHaq (R 039)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>E C Members (Two Posts)<br>West Zone</td>
                                            <td>
                                                <strong>SELECTED</strong><br>
                                                <ul>
                                                    <li>1.  Dr. Samarjit Singh (S 162)</li>
                                                    <li>2.  Dr.Vineet Kumar Arora (A 059)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>E C Members (Two Posts)<br>Central Zone</td>
                                            <td>Dr. Rahul Khare (K 036)</td>
                                        </tr>
                                        <tr>
                                            <td>E C Members (Two Posts)<br>NCR Zone</td>
                                            <td>
                                                <ul>
                                                    <li>1.  Dr. Alok Sharma (S 034)</li>
                                                    <li>2.  Dr. Anuj Dhingra (D 022)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><br>
                            <p><strong>Bids:</strong></p>
                            <div class="table-responsive">
                                <table class="table table-bordered mt20">
                                    <tbody>
                                        <tr class="info">
                                            <td><strong>Sno.</strong></td>
                                            <td><strong>Events</strong></td>
                                            <td><strong>Bids Received</strong></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Annual Conference (DOACON 2020)</td>
                                            <td>Dr. Dhananjay Gupta</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Mid Term Conference (MIDCON 2020)</td>
                                            <td>Jai Prakash Narayan Apex Trauma Centre (Dr. Vijay Sharma)</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>1st Quarterly Meeting</td>
                                            <td>
                                                Indian Spinal Injuries Centre (Dr. Ritabh Mittal)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>2nd Quarterly Meeting</td>
                                            <td>
                                                ELECTED<br> Department Of Orthopaedics, Sir Gangaram Hospital (Dr. Pradeep Bageja)

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>3rd Quarterly Meeting</td>
                                            <td>
                                                East Delhi Orthopaedic Association (Dr. Shekhar Srivastav)
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                            <p>The above candidates are declared elected to Executive Committee of Delhi Orthopaedic Association and DOA Events are allotted to the successful bids.</p>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section>
        <!--================End Our About Area =================-->


{% endblock %}