<?php 
	
	include("includes/header.php");
	include("includes/menu.php");

?>


        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>Medico-Legal Tip of the day </h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="medico-legal-tip-of-the-day.php">Medico-Legal Tip of the day</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->

        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>Medico-Legal Tip of the day</h2>
                                <p><a href="http://delhiortho.org/UserFiles/Medico-Legal-Tip-of-the-day.pdf" target="_blank">See the complete details</a></p>
                            </div>
                           
                        

                        </div>
                    </div>

                   
                </div>
            </div>
        </section>

<?php include("includes/footer.php"); ?>