{% extends 'base.html' %}

{% load static %}

{% block content %}

    
<style type="text/css">
    .our_about_area {
    padding: 30px 0px 70px;
}
.dbox {
    position: relative;
    background: rgb(255, 86, 65);
    background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
    border-radius: 4px;
    text-align: center;
    margin: 60px 40px 50px;
}
.dbox__icon {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.dbox__icon:before {
    width: 85px;
    height: 85px;
    position: absolute;
    background: #fda299;
    background: rgba(253, 162, 153, 0.34);
    content: '';
    border-radius: 50%;
    left: -17px;
    top: -17px;
    z-index: -2;
}
.dbox__icon:after {
    width: 70px;
    height: 70px;
    position: absolute;
    background: #f79489;
    background: rgba(247, 148, 137, 0.91);
    content: '';
    border-radius: 50%;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.dbox__icon > i {
    background: #ff5444;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    width: 40px;
    height: 40px;
    font-size:49px;
}
.dbox__body {
    padding: 50px 20px;
}
.dbox__count {
    display: block;
    font-size: 30px;
    color: #FFF;
    font-weight: 300;
}
.dbox__title {
    font-size: 13px;
    color: #FFF;
    color: rgba(255, 255, 255, 0.81);
}
.dbox__action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.dbox__action__btn {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    color: #003e85;
    box-shadow: 0 3px 5px #d4d4d4;
}


.dbox--color-2 {
    background: rgb(252, 190, 27);
    background: -moz-linear-gradient(top, rgb(98, 0, 0) 1%, rgb(130, 0, 0) 99%);
    background: -webkit-linear-gradient(top, rgb(98, 0, 0) 1%, rgb(130, 0, 0) 99%);
    background: linear-gradient(top to bottom, rgb(94, 0, 0) 0%, rgb(130, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}
.dbox--color-2 .dbox__icon:after {
    background: #fee036;
    background: rgba(155, 13, 13, 0.76);
}
.dbox--color-2 .dbox__icon:before {
    background: #fee036;
    background: rgba(155, 13, 13, 0.76);
}
.dbox--color-2 .dbox__icon > i {
    background: none;
}

.dbox--color-3 {
    background: rgb(183,71,247);
    background: -moz-linear-gradient(top, rgb(98, 0, 0) 0%, rgb(130, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgb(98, 0, 0) 0%, rgb(130, 0, 0) 100%);
    background: linear-gradient(to bottom, rgb(98, 0, 0) 0%, rgb(130, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}
.dbox--color-3 .dbox__icon:after {
    background: #b446f5;
    background: rgba(155, 13, 13, 0.76);
}
.dbox--color-3 .dbox__icon:before {
    background: #e284ff;
    background: rgba(147, 9, 9, 0.66);
}
.dbox--color-3 .dbox__icon > i {
    background: none;
}
</style>

        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>Member Area</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="member-area.php">DOA Member Area</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->

                <!--================Our About Area =================-->
        <section class="our_about_area">
            <div class="container">
                <div class="row">
                        {% if user.is_authenticated %}

                       <p> Hello, {{user.first_name}}</p>

                       
                    
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="dbox dbox--color-3">
                                    <div class="dbox__icon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </div>
                                    <div class="dbox__body">
                                        <span class="dbox__count">Member Profile</span>
                                    </div>

                                    <div class="dbox__action">
                                        <a href="member-profile.html/{{user.username}}" class="dbox__action__btn">More Info</a>
                                    </div>              
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dbox dbox--color-2">
                                    <div class="dbox__icon">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                    </div>
                                    <div class="dbox__body">
                                        <span class="dbox__count">DOA Member List</span>
                                    </div>
                                    
                                    <div class="dbox__action">
                                        <a href="member-list.html" class="dbox__action__btn member" id="member">More Info</a>
                                        
                                    </div>              
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="dbox dbox--color-3">
                                    <div class="dbox__icon">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </div>
                                    <div class="dbox__body">
                                        <span class="dbox__count">JCOT QUIZ</span>
                                    </div>
                                    
                                    <div class="dbox__action">
                                        <a href="" class="dbox__action__btn quiz" id="quiz">More Info</a>
                                    </div>              
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dbox dbox--color-2">
                                    <div class="dbox__icon">
                                        <i class="glyphicon glyphicon-folder-close"></i>
                                    </div>
                                    <div class="dbox__body">
                                        <span class="dbox__count">JCOT Journal</span>
                                    </div>
                                    
                                    <div class="dbox__action">
                                        <a href="" class="dbox__action__btn journal" id="journal">More Info</a>
                                    </div>              
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                   {% endif %}
                </div>
            </div>
        </section>


{% endblock %}

