<?php 
    
    include("includes/header.php");
    include("includes/menu.php");

?>


        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>Non DOA Events</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="non-doa-events.php">Non DOA Events</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->



<?php include("includes/footer.php"); ?>