<?php 
	
	include("includes/header.php");
	include("includes/menu.php");

?>


        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>Past Secretaries</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="past-secretaries.php">Past Secretaries</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->
                <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>DOA Past Secretaries </h2>
                            </div>
                            

                            <table class="table table-bordered">
                              <tbody><tr class="info">
                                <td colspan="4"><strong>Presidents of Delhi Orthopaedic Association</strong></td>
                            </tr>
                             <tr>
                                <td width="15%"><strong>Year</strong></td>
                                <td width="35%"><strong>Secretary</strong> </td>
                                 <td width="15%"><strong>Year</strong></td>
                                <td width="35%"><strong>Secretary</strong> </td>
                              </tr>
                              <tr>
                                <td>Year 1978 </td>
                                <td>Dr.Arun Goel </td>
                                <td>Year 2001 </td>
                                <td>Dr.Sudhir Kapoor</td>
                              </tr>
                              <tr>
                                <td>Year 1979 </td>
                                <td>Dr.Arun Goel</td>
                                <td>Year 2002</td>
                                <td>Dr.Sudhir Kapoor </td>
                              </tr>
                              <tr>
                                <td>Year 1980  </td>
                                <td>Dr.Krishna Mohan </td>
                                <td>Year 2003</td>
                                <td>Dr.Sudhir Kapoor</td>
                              </tr>
                              <tr>
                                <td>Year 1981</td>
                                <td>Dr.Krishna Mohan  </td>
                                <td>Year 2004</td>
                                <td>Dr.Sudhir Kapoor </td>
                              </tr>
                              <tr>
                                <td>Year 1982 </td>
                                <td> Dr.PP Kapoor</td>
                                <td>Year 2005 </td>
                                <td>Dr.Sudhir Kapoor </td>
                              </tr>
                              <tr>
                                <td>Year 1983 </td>
                                <td>Dr.PP Kapoor</td>
                                <td>Year 2006 </td>
                                <td>Dr.Sudhir Kapoor</td>
                              </tr>
                              <tr>
                                <td>Year 1984 </td>
                                <td>Dr.AC Malik</td>
                                <td>Year 2007 </td>
                                <td>Dr.Anil arora </td>
                              </tr>
                              <tr>
                                <td>Year 1985 </td>
                                <td>Dr.AC Malik </td>
                                <td>Year 2008 </td>
                                <td>Dr.Anil arora </td>

                              </tr>
                              
                               <tr>
                                <td>Year 1986 </td>
                                <td>Dr.AK Khare</td>
                                <td>Year 2009 </td>
                                <td>Dr.Anil arora </td>
                              </tr>
                              
                              <tr>
                                <td>Year 1987 </td>
                                <td>Dr.AK Khare</td>
                                <td>Year 2010 </td>
                                <td>Dr.Anmol Maria</td>
                              </tr>
                              
                               
                              <tr>
                                <td>Year 1988 </td>
                                <td>Dr.AK Khare</td>
                                <td>Year 2011 </td>
                                <td> Dr.Anmol Maria</td>
                              </tr>
                              
                              <tr>
                                <td>Year 1989 </td>
                                <td>Dr.AK Khare</td>
                                <td>Year 2012 </td>
                                <td>Dr.Anmol Maria</td>
                              </tr>
                              
                              
                              <tr>
                                <td>Year 1990 </td>
                                <td>Dr.AK Khare</td>
                                <td>Year 2013 </td>
                                <td>Dr.Dhananjay Gupta</td>
                              </tr>
                              
                                <tr>
                                <td>Year 1991  </td>
                                <td>Dr.AK Khare </td>
                                <td>Year 2014 </td>
                                <td>Dr.Dhananjay Gupta </td>
                              </tr>
                              
                                <tr>
                                <td>Year 1992 </td>
                                <td>Dr.Sudhir Kumar </td>
                                <td>Year 2015 </td>
                                <td>Dr.Dhananjay Gupta</td>
                              </tr>
                              
                                <tr>
                                <td>Year 1993 </td>
                                <td>Dr.Sudhir Kumar  </td>
                                <td>Year 2016 </td>
                                <td>Dr.Lalit Maini </td>
                              </tr>
                              
                                 <tr>
                                <td>Year 1994 </td>
                                <td>Dr.Sudhir Kumar </td>
                                   <td>Year 2017 </td>
                                <td>Dr.Lalit Maini</td>
                              </tr>
                              
                                 <tr>
                                <td>Year 1995 </td>
                                <td>Dr.Anil Dhal </td>
                                <td>Year 2018 </td>
                                <td>Dr.Lalit Maini</td>
                              </tr>
                              
                                 <tr>
                                <td>Year 1996 </td>
                                <td>Dr.Anil Dhal </td>
                                <td>Year 2019</td>
                                <td>Dr.Hitesh Lal</td>
                              </tr>
                              
                                 <tr>
                                <td>Year 1997 </td>
                                <td>Dr.Anil Dhal </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              
                                 <tr>
                                <td>Year 1998 </td>
                                <td>Dr.J Maheshwari </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              
                                  <tr>
                                <td>Year 1999 </td>
                                <td>Dr.J Maheshwari</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              
                                  <tr>
                                <td>Year 2000 </td>
                                <td>Dr.J Maheshwari</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>


                              
                              <tr>
                                
                              </tr>
                             
                            </tbody></table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="info">
                            <table class="table table-bordered">
                              <tbody>
                                <tr class="primary">
                                <td><strong>Year</strong></td>
                                <td><strong>Secretay</strong></td>
                                <td><strong>Treasurer</strong></td>
                                <td><strong>Editor</strong></td>
                                <td><strong>Annual Meet</strong></td>                
                              </tr>
                              
                            <tr>
                                <td><strong>2010</strong></td>
                                <td><strong>Dr.Anmol Maria </strong></td>
                                <td><strong>Dr.Lalit Maini</strong></td>
                                <td><strong>Dr.Lalit Maini</strong></td>
                                <td><strong>ISIC</strong></td>                
                            </tr>

                            <tr>
                                <td><strong>2011</strong></td>
                                <td><strong>Dr.Anmol Maria  </strong></td>
                                <td><strong>Dr.Lalit Maini</strong></td>
                                <td><strong>Dr.Lalit Maini</strong></td>
                                <td><strong>JAIPUR GOLDEN </strong></td>                
                            </tr>

                            <tr>
                                <td><strong>2012</strong></td>
                                <td><strong>Dr.Anmol Maria </strong></td>
                                <td><strong>Dr.Lalit Maini</strong></td>
                                <td><strong>Dr.Lalit Maini</strong></td>
                                <td><strong>EDOA</strong></td>                
                            </tr>

                            <tr>
                                <td><strong>2013</strong></td>
                                <td><strong>Dr.Dhananjay Gupta   </strong></td>
                                <td><strong>Dr.Hemant Sharma </strong></td>
                                <td><strong>Dr.Lalit Maini </strong></td>
                                <td><strong>APOLLO(CGO) </strong></td>                
                            </tr>

                            <tr>
                                <td><strong>2014</strong></td>
                                <td><strong>Dr.Dhananjay Gupta </strong></td>
                                <td><strong>Dr.Hemant Sharma  </strong></td>
                                <td><strong>Dr.Lalit Maini  </strong></td>
                                <td><strong>MAMC</strong></td>                
                            </tr>

                            <tr>
                                <td><strong>2015</strong></td>
                                <td><strong>Dr.Dhananjay Gupta </strong></td>
                                <td><strong>Dr.Hemant Sharma </strong></td>
                                <td><strong>Dr.Lalit Maini</strong></td>
                                <td><strong>VMMC </strong></td>                
                            </tr>

                            <tr>
                                <td><strong>2016</strong></td>
                                <td><strong>Dr.Lalit Maini</strong></td>
                                <td><strong>Dr.Hemant Sharma  </strong></td>
                                <td><strong>Dr.Hitesh Lal</strong></td>
                                <td><strong>ISIC(MERIDEAN)  </strong></td>                
                            </tr>

                            <tr>
                                <td><strong>2017</strong></td>
                                <td><strong>Dr.Lalit Maini </strong></td>
                                <td><strong>Dr.Hemant Sharma</strong></td>
                                <td><strong>Dr.Hitesh Lal</strong></td>
                                <td><strong>RML </strong></td>                
                            </tr>

                            <tr>
                                <td><strong>2018</strong></td>
                                <td><strong>Dr.Lalit Maini </strong></td>
                                <td><strong>Dr.Hemant Sharma </strong></td>
                                <td><strong>Dr.Hitesh Lal</strong></td>
                                <td><strong>AIIMS </strong></td>                
                            </tr>

                            </tbody></table>
                        </div>
                    </div>

                   
                </div>
            </div>
        </section>


<?php include("includes/footer.php"); ?>