<?php 
	
	include("includes/header.php");
	include("includes/menu.php");

?>


        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>Preethi Institute of Orthopaedics & Research</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="preethi-institute-of-orthopaedics-and-research.php">Preethi Institute of Orthopaedics & Research</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->
        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2 style="text-align: center; padding-bottom: 20px">Preethi Institute of Orthopaedics & Research</h2>
                                <p style="text-align: center;">Preethi Institute of Orthopaedics & Research<br>
                                    Preethi Hospitals (P) Ltd<br>
                                    Madurai</p>
                                <p>Dear Sir,<br>

                                Greetings from Preethi Hospitals…
                                </p>
                                <p>This is to inform you that Post Doctoral Fellowship Programme approved by The Tamilnadu Dr. MGR. Medical University, Chennai starting from 1st January 2016. The details of the Fellowship is given below</p>

                                <ul style="list-style: disc; color:#464646; margin-left: 15px;">
                                    <li>Post Doctoral Fellowship in Joint Replacement Surgery</li>
                                    <li>Duration of the Course: 1 year (Jan2016 – Jan2017)</li>
                                    <li>Post Doctoral Fellowship in Spine Surgery</li>
                                    <li>Duration of the Course: 2 years (Jan2016 – Jan2018)</li>
                                    <li>Eligibility: M.S. Orthopaedic Surgery recognized by MCI & DNB. Orthopaedic Surgery recognized by National Board of Examination.</li>
                                    <li>Interested eligible candidate can apply with their recent Bio – data & details of their research work to profsivakumarspine@gmail.com or preethihospital@yahoo.com</li>
                                    <li>Late date for submission of Application – 26th October 2015</li>
                                    <li>Interview Date – 1st November 2015 (Sunday) Time: 11.00</li>
                                    <li>Bring all your credentials and Certificates at the time of interview & inform us about your arrival.</li>
                                    <li>If selected you have to get Eligibility Certificate from the Dr. MGR Medical University, 69, Anna Salai, Guindy, Chennai before joining the course as per the University norms</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="color:#464646;">
                        Prof. Dr. R. Sivakumar M.S. Ortho., D. Ortho.,<br>
                        Chief Consultant,<br>
                        Preethi Institute of Orthopaedics & Research,<br>
                        Preethi Hospitals (P) Ltd,<br>
                        Madurai 625 007<br>
                        Tamilnadu, India<br>
                        Mobile: +91 9443733996<br>
                        Secretary : 9442233996<br>
                        Mail id: profsivakumarspine@gmail.com
                    </div>
                    <div class="col-md-6">
                        <p style="color: #464646;">
                        Prof. Dr. M. Chidambaram M.S. Ortho.,D. Ortho.,<br>
                        Director & Head of the Department<br>
                        Preethi Institute of Orthopaedics & Research,<br>
                        Preethi Hospitals (P) Ltd,<br>
                        Madurai 625 007<br>
                        Tamilnadu, India<br>
                        Mobile: +91 9443794181<br>
                        Phone: 0452 4219995 – 7, Fax: 0452 4219998
                        </p>
                    </div>
                </div>


                                

                                
                            </div>
                           
                         
                        </div>
                    </div>

                   
                </div>
            </div>
        </section>


<?php include("includes/footer.php"); ?>