{% extends 'base.html' %}

{% load static %}

{% block content %}

        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>Secretary’s Message</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="secretary-message.php">Secretary's Message</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->

                <!--================Our About Area =================-->
        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>Secretary Message </h2>
                            </div>
                            
                            <p>Dear DOA Members,<br>
                                Greetings from DOA office.<br>
                            As an Organisation we have been growing steadily in numbers. Our academic events are providing excellent learning experience. JCOT, official journal of DOA has got more than one lac hits and downloads are steadily increasing. </p>
                            <p>Our chapter was declared fourth best in terms of association activities during IOACON 2018. We appreciate all the hard work and sacrifices which goes in to making of a surgeon. Hence this year DOA presidential theme is “ Hail the Healers”. We shall be organizing couple of social events throughout the year for awareness of people and simultaneously highlight the doctors contribution to society.</p>
                            <p>Do write to us if you have any suggestions for proposed events. 10th February, kindly join us in DOA Sports Meet at Jasola Sports Complex. You can give your entries for Cricket, Table Tennis, Badminton and Chess directly or through your zonal club.</p>
                            <p>End of March a family picnic has been planned. Details will be shared later.</p>
                            <p>DOA Academic Calender of 2019 is in the print and shall reach you shortly.</p>

                            <p><strong>Wishing all the Members a Happy and Healthy New Year 2019.</strong>
                            </p>
                            <p>With warm regards.</p>
                            Hitesh lall<br>
                            <strong>Secretary DOA</strong><br>
                            Delhi Orthopaedic Association
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="our_about_image">
                            <img src="{% static 'images/team/Hitesh-Lal-Editor.jpg' %}" alt="" style="margin-bottom: 10px;">
                            <a href="javascript:void(0);" style="text-align: center;"><h4>Dr. Hitesh Lall</h4></a>
                            <h6 style="text-align: center;">Secretary</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}        