<?php 
	
	include("includes/header.php");
	include("includes/menu.php");

?>


        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>Smith & Nephew Sponsored Arthroscopy Fellowship On Trialect</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="smith-and-nephew-sponsored-arthroscopy-fellowship-on-trialect.php">Smith & Nephew Sponsored Arthroscopy Fellowship On Trialect</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->

        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2 style="">Smith & Nephew Sponsored Arthroscopy Fellowship On Trialect</h2>
                                <p>We are contacting you as we have a posting on Trialect at www.trialect.com soliciting applications for Smith & Nephew Sponsored Arthroscopy Fellowship. There are nine positions available this year. The Fellowship covers travel and accommodation. Its grant is delivered in two tranches: the first upon arrival at the teaching center, and the remainder when the Fellow has completed the course, and submitted the requisite report. The deadline is three weeks away, and we are reaching out to see if your junior faculty/fellows would be interested in short term exposure to overseas programs, as exposure to these kind of cross cultural programs are very productive to one’s career. This opportunity can be perused in detail at: <a href="https://app.trialect.com/1683/display">https://app.trialect.com/1683/display</a></p>
                                <p>Thanks,<br>
                                Trialect Support<br>
                                +1.805.850.6002(USA)<br>
                                Support@trialect.com</p>
                            </div>
                           
                            

                        </div>
                    </div>

                   
                </div>
            </div>
        </section>

<?php include("includes/footer.php"); ?>