{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">
    thead tr td{
        font-size: 16px; 
        font-weight: 600;
        padding: 3px;
        color: #2d2d2d;
    }
    .table-bordered  thead  tr  td{
        border: 1px solid #a6a6a6;
    }

    tbody tr td{
        color: #2d2d2d;
    }
</style>

        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h3>Subspeciality</h3>
                </div>
            </div>
        </section>
        <div class="banner_link">
            <div class="container">
                <div class="abnner_link_inner">
                    <a class="active" href="index.php">Home</a>
                    <a href="#">Subspeciality</a>
                </div>
            </div>
        </div>
        <!--================End Banner Area =================-->

        <section class="our_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2 style="margin-bottom: 5px;">CDOA (Central Delhi Orthopaedic Association)</h2>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="info">
                                            <td>President</td>
                                            <td>President Email</td>
                                            <td>President Mobile no</td>
                                            <td>Secretary</td>
                                            <td>Secretary Email</td>
                                            <td>Secretary Mobile no</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Dr. Kharbanda</td>
                                            <td></td>
                                            <td>811004341</td>
                                            <td>Dr. Barjinder Singh</td>
                                            <td>barjinder1968@hotmail.com</td>
                                            <td>9811516383</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                   

                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                                <h2>EDOA(East Delhi Orthopaedic Association)</h2>
                                <p style="margin-bottom: 5px;"><strong>Website :</strong> <a href="http://www.edoa.in" target="_blank">www.edoa.in</a></p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="info">
                                            <td>President</td>
                                            <td>President Email</td>
                                            <td>President Mobile no</td>
                                            <td>Secretary</td>
                                            <td>Secretary Email</td>
                                            <td>Secretary Mobile no</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Dr. Inder Ahuja</td>
                                            <td>east_delhi@association.in</td>
                                            <td>9810144912</td>
                                            <td>Dr. Shekhar Shrivastav</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="our_about_left_content">
                            <div class="section_title">
                               <h2 >WDOA(West Delhi Orthopaedic Association)</h2>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="info">
                                            <td>President</td>
                                            <td>President Email</td>
                                            <td>President Mobile no</td>
                                            <td>Secretary</td>
                                            <td>Secretary Email</td>
                                            <td>Secretary Mobile no</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Dr. Atul; Vaish</td>
                                            <td>atulvaish58@gmail.com</td>
                                            <td>9717630516</td>
                                            <td>Dr. Harmesh Kapoor</td>
                                            <td>harmesh_kapoor@yahoo.com</td>
                                            <td>9810301850</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>



{% endblock %}